body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  scrollbar-color: #090913 transparent;
  scrollbar-width: thin;
  background: linear-gradient(to right, #090913, #16162efd);
  position: relative;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4949e4;
}

::-webkit-scrollbar-track {
  background: #0f0f5d;
}
* {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  transition: all 0.5 ease;
}

*::selection {
  color: #4949e4;
  background: transparent;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 35px;
  border-radius: 50px;
  margin: 40px;
  background-color: #09091377;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #4949e4, 0 0 10px #4949e481, 0 0 10px #30305f;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

nav a,
.logo a {
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: larger;
  text-decoration: none;
  letter-spacing: 2px;
  z-index: 999;
}

nav a:hover {
  border-bottom: 1px solid #fff;
}

.logo a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  transition: 0.5s;
}

header:hover .logo{
  transform: translateY(100px);
}

.fa-sun {
  color: orange;
}



.fa-youtube{
  padding-right: 5px;
}

.fa-youtube ,.fa-github, .fa-twitter {
  font-size: 32px;
  color: #4949e4;
  transition: 0.3s;
  padding-left: 10px;
}

.fa-youtube:hover
,.fa-github:hover
,.fa-twitter:hover {
  transform: translateY(-10px);
}


.txt {
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 15px;
}


.txt2 .web{
  color: #fff;
}


.txt h2 {
  margin-bottom: 35px;
  padding-left: 20px;
  font-family: monospace;
}

.txt2 h2 span:not(.web):not(.l) {
  background-image: linear-gradient(to top,  #2424f2, #4949e4, #c4c4fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.l{
  font-weight: 400;
  font-family: monospace;
}

.txt span {
  font-size: 90px;
  transition: 0.3s;
}


.txt span:hover {
  cursor: pointer;
  font-size: 70px;
}



.mn-btn{
  background-color: #0e0e2a;
  border: none;
  padding: 1em 2em;
  border-radius: 1000px;
  color: white;
  font-family: monospace;
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.mn-btn::after{
  content: "";
  position: absolute;
  height: 107%;
  width: 103%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #2424f2, #a1a1ff);
  z-index: -1;
}

.mn-btn:hover{
  box-shadow: 40px 0 100px #23236c84, -40px 0 100px #7979cb32;
  z-index: 0;
}


.about {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tit {
  padding-top: 30px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.tit span {
  color: #4949e4;
}

.box p {
  font-size: 30px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box p span {
  color: #6464ff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.box p spann {
  font-size: 40px;
  font-weight: 700;
  color: #4949e4;
}

.box{
  opacity: 1;
  margin-top: 30px;
  margin: auto;
  max-width: 75%;
  padding-right: 70px;
  height: fit-content;
  border-radius: 20px;
  padding: 30px;
  line-height: 50px;
  transition: 1.8s;
  border: none;
  color: #fff;
}


.animated {
  height: 100px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes plz {
  to {
    left: -100px;
  }
}

.item {
  letter-spacing: 3px;
  text-align: center;
  font-size: 40px;
  width: 180px;
  height: 100px;
  position: absolute;
  left: max(1400px, 100%);
  animation-name: plz;
  animation: plz 10s linear infinite;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
}

.item1 {
  animation-delay: calc(10s / 5 * (5 - 1) * -1);
}
.item2 {
  animation-delay: calc(10s / 5 * (5 - 2) * -1);
}
.item3 {
  animation-delay: calc(10s / 5 * (5 - 3) * -1);
}
.item4 {
  animation-delay: calc(10s / 5 * (5 - 4) * -1);
}
.item5 {
  animation-delay: calc(10s / 5 * (5 - 5) * -1);
}

.projects{
  padding-bottom: 50px;
}

.pros-k{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 90%;
  margin: auto;
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  padding: 20px;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 50px;
  gap: 70px;
}
.fa-arrow-up-right-from-square{
  font-size: 25px;
}

.pros-icon{
  font-size: 160px;
  color: #fff;
  padding-bottom: 40px;
  transition: all 0.3s ease;
}


.web-pros, .py-pros{
  background-color: #090913;
  border-radius: 10px;
  box-shadow: 0 0 10px #4949e460, 0 0 30px #a1a1ff30;
  transition: all 0.5s ease;
  opacity: 0.7;
  margin: auto;
  width: 100%;
  height: 70vh;
  text-align: center;
  padding: 45px;
  border-radius: 5px;
}

.py-pros:hover,
.web-pros:hover{
  box-shadow: 0 0 35px #5151ec60, 0 0 50px #a0a0f330;
  transform: rotateX(13deg) rotateY(13deg);
  opacity: 1;
}
.py-pros:hover .pros-icon,
.web-pros:hover .pros-icon{
  color: #4949e4;
}

.box-py p,
.box-web p{
  font-size: 25px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  transition: all 0.5s ease;
}

.box-py a,
.box-web a{
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 40px;
}

.ptxt{
  transition: all 0.5s ease;
}

.box-py p:hover,
.ptxt:hover,
.box-web p:hover{
  transform: translateY(-10px);
}


.tit-s{
  font-size: 30px;
  color: #fff;
}

.up {
  transform: translateX(100%);
  transition: 0.6s;
  opacity: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 20px;
  z-index: 99;
  background-image: linear-gradient(to bottom right, #2424f2, #a1a1ff);
}

.up:hover .fa-arrow-up{
  transform: translateY(-7px);
}

.fa-arrow-up {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}


.contact {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.contact .cm {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  color: #4949e4b4;
  padding-bottom: 50px;
}



.input-txt {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.input-txt input {
  margin-bottom: 30px;
  width: 600px;
  height: 45px;
  border-radius: 5px;
  background: linear-gradient(to left, #4949e437, #4949e4ba);
  border: none;
  padding: 20px 10px;
  color: #fff;
  font-size: 15px;
}

input::placeholder {
  color: #d41e1e60;
}

button {
  text-align: center;
  background: linear-gradient(to left, #4949e437, #4949e4ba);
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.chans {
  padding: 20px;
}

.chan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  padding-left: 3px;
  margin-bottom: 20px;
}

.codezilla {
  background-color: #11114d;
}

.abdelrahman {
  background-color: #000;
  padding-right: 10px;
}

.Elzero {
  background-color: #0c131b;
}

.chans img {
  border-right: 5px solid white;
  width: 300px;
  border-radius: 7px;
  height: 100%;
}

.chansTxt {
  text-align: left;
  color: #fff;
  padding-left: 20px;
  padding: 0, 0;
  flex-wrap: wrap;
  width: 100%;
}
.chansTxt a {
  color: #fff;
  text-decoration: none;
}
.chansTxt a:hover {
  text-decoration: underline;
}

.chansTxt h3 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
}

.chansTxt p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

.footer-m{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 90%;
  z-index: 99;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}


.is{
  padding: 5px 10px;
  text-align: center;
  height: fit-content;
  text-align: center;
  background-color: #090913;
  border-radius: 10px;
  font-size: 40px;
  box-shadow: 0 0 15px #4949e4;
  transition: all 0.4s ease;
  z-index: 99;
  opacity: 0.8;
}

.is:hover{
  box-shadow: 0 0 25px #5c5ce2;
}

.fm {
  text-align: center;
  font-size: 25px;
  color: #4949e4;
  transition: all 0.4s ease;
  cursor: pointer;
  border-radius: 50%;
  padding-bottom: 10px;
  padding: 0px 8px;
}

.is .fa-sun{
  color: orange;
}

.is .fa-moon{
  color: white;
}

footer {
  background-color: #090913;
  color: #fff;
  font-weight: 100;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

footer h3 span {
  color: #4949e4;
  font-weight: 600;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer h4 {
  display: inline;
  margin: 0px;
  font-size: 300px;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
  line-height: 1;
  white-space: nowrap;
}

footer h4 span{
  color: #4949e4;
}

.mn-btn1 {
  display: none;
}

.warning {
  display: none;
  color: #ff000087;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  padding: 4px;
  border-radius: 5px;
}

@media screen and (max-width: 945px) {

  .footer-m{
    display: inline-block;
  }

  header {
    display: none;
  }

  .up{
    display: none;
  }

  .tit {
    font-size: 30px;
  }


  .about {
    height: 100%;
    width: 100%;
  }

  .box {
    margin: 0px;
    padding: 0;
    width: 100%;
  }

  .projects .pros-k{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }


  .web-pros, .py-pros{
    width: 80%;
    margin: auto;
    padding-bottom: 35px;
  }

  .box p {
    font-size: 20px;
    flex-grow: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .item {
    font-size: 35px;
  }

  .txt {
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .txt span:hover {
    pointer-events: none;
    color: inherit;
    font-size: inherit;
    cursor: default;
  }


  .txt h2 {
    margin: 30px 0;
    font-size: 13px;
  }
  .txt span {
    letter-spacing: 0.1;
    font-size: 35px;
  }


  

  .input-txt input {
    width: 100%;
  }
  .chans img {
    flex-wrap: wrap;
    width: 170px;
    border-radius: 50%;
    border: none;
  }
  .chan {
    flex-direction: column;
    padding-top: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: auto;
  }
  .chansTxt {
    margin-right: 15px;
    text-align: center;
  }
  .chansTxt h3 {
    font-size: 23px;
  }
  .mn-btn {
    scale: 0.7;
  }
  footer h4{
    display: none;
  }
}
